[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

mock = "*"
dronekit-sitl = "*"
pytest = "*"
"e1839a8" = {path = ".", editable = true}


[packages]

pyserial = "*"
"pynmea2" = "*"
pyzmq = "*"
dronekit = "*"


[requires]

python_version = "2.7"
