[Unit]
Description=Sets the UART up
After=network.target

[Service]
User=root
Restart=no
Type=simple
ExecStart=/home/debian/git/beaglebone-universal-io/setuart1_4.sh

[Install]
WantedBy=multi-user.target
