[Unit]
Description=Simple takeoff service file
After=network.target setuart.service

[Service]
User=root
Restart=no
Type=simple
WorkingDirectory=/home/debian/git/control
ExecStart=/bin/sh -c '/usr/bin/python /home/debian/git/control/examples/simpletakeoff.py 2>&1 | tee -a /home/debian/simpletakeoff.txt'

[Install]
WantedBy=multi-user.target
